@use '../../variables';

.signIn {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;

    &Img, &Info{
        margin: auto;
    }

    &Img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: left;
    }

    &Info {
        width: 100%;
        padding: 80px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__title, &__subtitle {
            background-color: variables.$indigo;
            color: variables.$white !important;
            text-align: center;
            margin: 0;
            padding: 5px;
            border-radius: 10px;
        }

        &__title {
            font-size: 4rem;
        }

        &__button {
            font-size: 1.2rem;
            width: 150px;
        }
    }
}